{% extends 'admin.html.twig' %}

{% block title %}Les vins{% endblock %}

{% block body %}
<div class="title-foods w3-center">
    <h1>Les vins</h1>
</div>

{% for wine in wines %}
    <section class="w3-container w3-quarter">
        <div class="w3-card-4 w3-margin">
            <div class="w3-display-container w3-center">
                {# img_folder variable d'environement du dossier uploads pour les images #}
               <img src="{{ img_folder }}/{{ wine.picture }}" alt="{{ wine.imageDescription }}" style="width:100%">
            </div>
            <h3 class="title">{{wine.nameCuvee}}</h3>
            <h3 class="title">{{wine.domaineName}}</h3>
            <p class="w3-padding">{{ wine.year }}
            <p class="w3-padding">{{ wine.bio }}</p>
            <p class="w3-padding">{{ wine.description }}</p>
            <div class="w3-row">
                <p class="w3-half w3-padding-small">Sur place : {{ wine.priceRestaurant }}€</p>
                <p class="w3-half-left w3-padding-small">A emporter : {{ wine.priceTakeway }}€</p>
            </div>
            <div class="w3-row">
                <a href="{{ path('wine_edit', {'id': wine.id}) }}" class="w3-button w3-deep-purple w3-half">Modifier</a>
                <a href="{{ path('wine_delete', {'id': wine.id}) }}" class="w3-button w3-deep-purple w3-half">Supprimer</a>

            </div>
        </div>
    </section>
 {% else %}
    <tr>
        <td colspan="8">no records found</td>
    </tr>  
{% endfor %}  
{% endblock %}
