{% extends 'base.html.twig' %}

{% block title %}Wine{% endblock %}

{% block body %}
    <h1>Wine</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ wine.id }}</td>
            </tr>
            <tr>
                <th>NameCuvee</th>
                <td>{{ wine.nameCuvee }}</td>
            </tr>
            <tr>
                <th>DomaineName</th>
                <td>{{ wine.domaineName }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ wine.year }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ wine.picture }}</td>
            </tr>
            
            <tr>
                <th>Description</th>
                <td>{{ wine.description }}</td>
            </tr>
            <tr>
                <th>PriceRestaurant</th>
                <td>{{ wine.priceRestaurant }}</td>
            </tr>
            <tr>
                <th>PriceTakeway</th>
                <td>{{ wine.priceTakeway }}</td>
            </tr>
            <tr>
                <th>ImageDescription</th>
                <td>{{ wine.imageDescription }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('wine_index') }}">back to list</a>

    <a href="{{ path('wine_edit', {'id': wine.id}) }}">edit</a>

    {{ include('wine/_delete_form.html.twig') }}
{% endblock %}
