<section id="reservation-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>Adresse</h3>
                <p class="lead-sm">
                    {{ coordonnees.adress }} <br />
                    {{ coordonnees.zipcode }}<br />
                    {{ coordonnees.city }}
                </p>
            </div>
            <div class="col-sm-4 hidden-xs">
                <h3>Horaires</h3>
                <p class="lead-sm">
                    Mardi - Jeudi: 11.00 - 23.00<br />
                    Vendredi - Samedi: 11.00 - 2.00<br />
                    Dimanche: 12.00 - 22.00
                </p>
            </div>
            <div class="col-sm-4 hidden-xs">
                <h3>Restons en contact</h3>
                <p class="lead-sm">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i><br />
                    {{ coordonnees.phone }}1<br />
                    {{ coordonnees.name }}
                </p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- Top-link-block -->
<span id="top-link-block" class="hidden">
      <a
              href="#top"
              class="well well-sm"
      >
        <i class="fa fa-angle-up" aria-hidden="true"></i>
      </a>
    </span>
<!-- /.Top-link-block -->