{% for menu in menus %}
	<section id="menu">
		<div
			class="container">
			<!-- Title Area -->
			<div class="row text-center">
				<div class="col-md-10 col-md-offset-1">
					<img src="{{ asset('img/icons/floral-divider-dark.png') }}" width="110" height="30" class="img-responsive center-block" alt="divider"/>
					<h2>{{ menu.name }}</h2>
				</div>
			</div>
			<!-- /.row -->
			<!-- /.Title Area -->

			<p>{{ menu.description }}</p>
			<hr>
			<div class="row text-center">
				<p>
					Sur place:
					{{ menu.priceRestaurant }}€ 
										&emsp; A emporter:
					{{ menu.priceTakeway }}€</p>
			</div>
			<hr>
			<!-- Menu Area with Filter and Gallery -->
			<div class="row">
				<div class="col-sm-3 col-md-2">
					<div id="menu-filter" class="clearfix">
						<ul id="menu-filter-list" class="option-set clearfix" data-option-key="filter">
							<li>
								<a href="#filter" data-option-value="*" class="selected">Tous</a>
							</li>
							<li>
								<a href="#filter" data-option-value=".entree">Entrée</a>
							</li>
							<li>
								<a href="#filter" data-option-value=".vegetarien">Végétarien</a>
							</li>
							<li>
								<a href="#filter" data-option-value=".plat">plat</a>
							</li>
							<li>
								<a href="#filter" data-option-value=".dessert">Dessert</a>
							</li>
							<li>
								<a href="#filter" data-option-value=".fromage">Fromage</a>
							</li>
							<li>
								<a href="#filter" data-option-value=".wine">Vin</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- #options -->
				<div class="col-sm-9 col-md-10">
					<div
						id="menu-wrapper" class="clearfix">
						<!-- Menu Item -->
						{% for food in menu.foods %}
							<div class="single-item {{ food.type }}">
								<div class="menu-list">
									<div class="menu-box">
										<div class="menu-list-item">
											<h5>{{ food.name }}</h5>
											<span class="dashed-line"></span>
										</div>
										<p class="dish-description">
											{{ food.description }}
										</p>
										{% if food.promotion == true %}
											<span class="label label-special">En promotion</span>
										{% endif %}
									</div>
								</div>
							</div>
						{% endfor %}
						{% for wine in menu.whineId %}
							<div class="single-item wine">

								<div class="menu-list">
									<div class="menu-box">
										<div class="menu-list-item">
											<h5>{{ wine.nameCuvee }}</h5>
											<span class="dashed-line"></span>
										</div>
										<p class="dish-description">
											{{ wine.description }}
										</p>
										{% if wine.bio %}
											<span class="badge badge-success" style="background-color: #3c763d;">Bio</span>
										{% endif %}
									</div>
								</div>
							</div>
						{% endfor %}

						<!-- /.Starter Menu Item 01 -->
					</div>
				</div>
			</div>
			<!-- Menu Area with Filter and Gallery -->
			<!-- /.row -->
		</div>
		<!-- /.container -->
	</section>
{% endfor %}
