{% extends 'base.html.twig' %}

{% block title %}Menus{% endblock %}

{% block body %}
{% include "navbar.html.twig" %}

<div class="title-foods w3-center">
    <h1>Entrées</h1>
</div>

{% for food in foods %}
    <section class="w3-container w3-quarter">
        <div class="w3-card-4 w3-margin">
            <div class="w3-display-container w3-center">
                {# img_folder variable d'environement du dossier uploads pour les images #}
                <img src="{{ img_folder }}/{{ food.picture }}" alt="{{ food.imageDescription }}" style="width:100%">
            </div>
            <h3 class="title">{{food.name}}</h3>
            <p class="w3-padding">{{ food.description }}
            </p>
            <div class="w3-row">
                <p class="w3-half w3-padding-small">Sur place : {{ food.priceRestaurant }}€</p>
                <p class="w3-half-left w3-padding-small">A emporter : {{ food.priceTakeway }}€</p>
            </div>
        </div>
    </section>
 {% else %}
    <tr>
        <td colspan="8">no records found</td>
    </tr>  
{% endfor %}  
{% endblock %}
